<h1>All Artists</h1>
<% @artists.each do |artist| %>
  <h2><%= link_to artist.name, artist_path(artist)%></h2><br>
  <%= image_tag artist.image_path%><br>
<%end%>

<%= link_to "New artist", new_artist_path %>
